
<html lang ="en">
	<head>
		<title>Authentication Web App</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel= "stylesheet" type= "text/css" href = "art.css"/>
		<link rel="icon" type="image/x-icon" href= "pictures/ribbon.png"/>
        <style>
            body{
	background-image: url(https://i.imgur.com/KV7rJR8.png); 
	font-family: Arial, Verdana, Sans-serif;
}
h1{
	text-align: center;
	font-family: "Lucida Console", Monospace;
}

nav, nav a{
	text-align: center;
	font-size: 1.03em;
	color: black;
	text-decoration: none;
	word-spacing: 50px;
	font-weight: bold;
}

a {text-decoration:none;}

nav a:hover{color:#779ECB;}

#socialMedia{
	width: 0;
	height: auto;
	background-color: transparent;
	float:right;
}
#socialMedia ol li{list-style-type:none;}

#insta{
	background: url(https://i.imgur.com/SzHmMWr.png) no-repeat -1px -2px;
	width: 48px;
	height: 47px;
}
#tumblr{
	background: url(https://i.imgur.com/SzHmMWr.png) no-repeat -62px 0;
	width: 51px;
	height: 50px;
}
#youtube{
	background: url(https://i.imgur.com/SzHmMWr.png) no-repeat -124px 0;
	width: 51px;
	height: 50px;
}

#homePagebox{
	margin-left:auto;
	margin-right: auto;
	width: 1000px;
	height: 700px;
	background-color:white;
	box-shadow:0 2px 2px 2px #888888;
}
#anthony{text-align: center;}
#anthony img {
 margin-top: 80px;
}
.wrapper{
	margin: auto;
	width: 80%;
}

        </style>
	</head>
	<body>

	<div>
	<header><h1>Kaddu Livingston</h1></header>
	<nav> 
<a href="/login">Logout</a> 
	</nav>	
	</div>
	<div class = "wrapper">
	<main>
	<br><br>
		<div id = "homePagebox"> 
		<div id="anthony"> 
      <div id = "socialMedia">
			<ol>
				<a href= "https://instagram.com"><li id = "insta"></li></a><br>
				<a href = "https://tumblr.com/"><li id = "tumblr"></li></a><br>
				<a href = "https://www.youtube.com/c/KadduLivingstone"><li id = "youtube"></li></a>
			</ol>
		</div>
		<img src="https://i.imgur.com/WRe0cLr.jpg" alt="Anthony"></a>
		
		</div>
		</div>
	</main>
	</div>

	</body>
</html>	